@charset 'UTF-8';

//------------------------------------
//  Copy
//------------------------------------

.copy {
	font-size: 12px;
	padding: 25px 0;

	a {
		color: #444;
		display: inline-block;
		text-decoration: none;
		transition: letter-spacing .3s ease;

		&:hover {
			letter-spacing: 1px;
			text-decoration: underline;
		}
	}
}