@charset 'UTF-8';

//------------------------------------
//  FORM
//------------------------------------

body {
	background-color: #65bd48;
	font-family: 'Courier New';
	min-height: 405px;
	width: 360px;
}

.form_container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 20px;
}

.form {
	background-color: #fff;
	box-shadow: 0 1px 5px #444;
	max-width: 330px;
	overflow: hidden;
	padding: 15px 15px 5px 15px;
	position: relative;
	text-align: center;
	width: 100%;

	h1 {
		@include font-responsive(23);
		line-height: 16px;
		margin: 0;
		margin-bottom: 12px;
	}

	.form__input-mask {
		margin: 10px 0;
		overflow: hidden;
		position: relative;

		&:before {
			@include font-responsive(18);
			@include contentBefore;
			background-color: #d9d9d9;
			content: 'R$';
			font-weight: bold;
			height: 38px;
			left: 1px;
			line-height: 38px;
			margin-right: 4%;
			top: 1px;
			width: 40px;
		}

		&.form__input-mask--horas {
			&:before {
				@include font-responsive(20);
				content: '\231A';
				line-height: 42px;
			}
		}

		&.form__input-mask--percentual {
			&:before { content: '[%]'; }
		}
	}

	input,
	button {
		@include font-responsive(14);
		background-color: #eee;
		border: none;
		font-family: 'Courier New';

		&:focus { outline: none; }
	}

	input {
		border: 1px solid #fff;
		color: #444;
		height: 40px;
		letter-spacing: -1px;
		padding: 11px 5px 11px 50px;
		transition:
			border-color .3s ease,
			text-indent .3s ease
		;
		width: 100%;

		&:hover,
		&:focus {
			border-color: #e5e5e5;
			letter-spacing: 0;
			text-indent: 5px;
		}

		&:focus { border-color: #ccc; }
	}

	.form__actions { text-align: right; }

	.form-limpar,
	.form-calcular {
		border: 0;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-size: 11px;
		margin: 0;
		padding: 5px 10px;

		&:hover { color: #444; }
	}

	.form-limpar { background-color: #00b241; }
}


.total {
	p {
		border-top: 1px solid #ccc;
		font-size: 13px;
		margin: 10px 0 0 0;
		padding-top: 10px;
		text-transform: uppercase;
	}
}

.total__val {
	display: inline-block;
	font-size: 40px;
	vertical-align: middle;
}

