@charset 'UTF-8';

//------------------------------------
//  FORM
//------------------------------------

body {
	background-color: #65bd48;
	font-family: 'Courier New';

	&,
	.box { height: 100vh; }
}

.form {
	background-color: #fff;
	box-shadow: 0 1px 5px #444;
	max-width: 320px;
	overflow: hidden;
	padding: 20px 20px 10px 20px;
	position: relative;
	width: 100%;

	h1 {
		@include font-responsive(23);
		margin: 0;
		margin-bottom: 12px;
	}

	.form__input-mask {
		margin: 10px 0;
		overflow: hidden;
		position: relative;

		&:before {
			@include font-responsive(18);
			@include contentBefore;
			background-color: #d9d9d9;
			content: 'R$';
			font-weight: bold;
			height: 45px;
			left: 1px;
			line-height: 45px;
			margin-right: 4%;
			top: 1px;
			width: 45px;
		}

		&.form__input-mask--horas {
			&:before {
				@include font-responsive(20);
				content: '\231A';
				line-height: 50px;
				text-indent: 2px;
			}
		}
	}

	input,
	button {
		@include font-responsive(15);
		background-color: #eee;
		border: none;
		font-family: 'Courier New';

		&:focus { outline: none; }
	}

	input {
		border: 1px solid #fff;
		color: #444;
		height: 47px;
		padding: 5px 20px 5px 70px;
		transition:
			border-color .3s ease,
			text-indent .3s ease
		;
		width: 100%;

		&:hover,
		&:focus {
			border-color: #e5e5e5;
			text-indent: 7px;
		}

		&:focus { border-color: #ccc; }
	}

	.form__limpar,
	.form__calcular {
		border: 0;
		color: #a1a1a1;
		cursor: pointer;
		display: inline-block;
		font-size: 11px;
		margin: 0 10px 0 0;
		padding: 2px 10px;

		&:hover { color: #444; }
	}
	.form__calcular {
		background-color: #00b241;
		color: #fff;
	}
}


.total {
	p {
		border-top: 1px solid #ccc;
		font-size: 13px;
		margin: 10px 10px 0 10px;
		padding-top: 10px;
		text-transform: uppercase;
	}
}

.total__val {
	// color: #00b241;
	display: inline-block;
	font-size: 40px;
	vertical-align: middle;
}

